<template>
  <div id="app">
    <button @click="handlePayment">start</button>
    <!-- <iframe id="telr" src=" [url obtained from create order] "></iframe> -->
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "app",
  methods: {
    handlePayment() {
      let reqData = {
        amount: 30,
        cart_serial: "http://api.telr.testarea.solutionplus.net/api/telr"
      };
      axios
        .post("http://api.telr.testarea.solutionplus.net/api/telr", reqData)
        .then(res => {
          console.log("res", res.data);
        })
        .catch(err => {
          console.log("err", err.response);
        });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#telr {
  width: 100%;
  min-width: 600px;
  height: 600px;
  border: 0;
}
</style>
